<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Potwierdzenie usunięcia pytania</h2>
            Czy usunąć pytanie ?

            <form>
                <div class="form-buttons">

                    <p id="errorSummary"></p>

                    <a href="/deletedKom" class="form-button-cancel">Usuń</a>
                    <a href="/Pytanie" class="form-button-submit">Anuluj</a>

                </div>
            </form>
        </main>
<%- include('../../fragments/footer.ejs') %>