<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Usunięcie pytania</h2>
            Pytanie zostało usunięte
            <br><br>
            
            <a href="/Pytanie" class="form-button-cancel">Powrót</a>
        </main>
<%- include('../../fragments/footer.ejs') %>