 <%- include('../../fragments/header.ejs') %>

        <main>

            <h2>Szczegóły osoby</h2>

            <form  id="formularz" class="form">
                
                <label for="pesel">Pesel:<span class="symbol-required">*</span></label>
                <input type="number" name="pesel" id="pesel" value="87152355559" disabled>
            
                <label for="imię">Imię:<span class="symbol-required">*</span></label>
                <input type="text" name="imię" id="imię" value="Jan" disabled>
    
                <label for="nazwisko">Nazwisko:<span class="symbol-required">*</span></label>
                <input type="text" name="nazwisko" id="nazwisko" value="Kowalski" disabled>
                
                <label for="kod">Kod uprawnienia:<span class="symbol-required">*</span></label>
                <input type="number" name="kod" id="kod" value="50" disabled>

                <br><br>    

                <h3>Lista udzielonych odpowiedzi przez tę osobę:</h3>
                
                <table id="tabelka" class="table-list">
                    
                    <tr>
                        <th>Id</th>
                        <th>Odpowiedź</th>
                        <th>Godzina odpowiedzi</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Pesel egzaminowanego</th>
                    </tr>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>10 01</td>
                            <td>Jan</td>
                            <td>Kowalski</td>
                            <td>87152355559</td>
                        </tr>
    
                        <tr>
                            <td>2</td>
                            <td>2</td>
                            <td>10 02</td>
                            <td>Jan</td>
                            <td>Kowalski</td>
                            <td>87152355559</td>
                        </tr>
    
                        <tr>
                            <td>3</td>
                            <td>23</td>
                            <td>10 03</td>
                            <td>Jan</td>
                            <td>Kowalski</td>
                            <td>87152355559</td>
                        </tr>
    
                        <tr>
                            <td>4</td>
                            <td>5</td>
                            <td>10 04</td>
                            <td>Jan</td>
                            <td>Kowalski</td>
                            <td>87152355559</td>
                        </tr>
    
                    </tbody>  
                             
                </table>

                <div class="form-buttons"> 
                    <p id="errorSummary"></p>
                    <a href="../edycjaOsobe/1" class="form-button-submit">Edycja</a>
                    <a href="/Osoba" class="form-button-cancel">Powrót</a>
                    
                </div>
                
            </form>
        </main>
 <%- include('../../fragments/footer.ejs') %>