html {
    background-color: #ecf0f1;
    font-family: sans-serif;
}

body {
    min-width: 600px;
}

header,
main,
footer{
    background-color: white;
}

header,
main,
footer,
nav {
    margin: 1rem;
}

header,
footer {
    background-color: #27551b;
    color: white;
    padding: 1rem;
}

header {
    overflow: auto;
}

header h1 {
    float: left;
}

header img {
    float: right;
}

nav {
    background-color: #bdc3c7;
}

nav ul {
    display: flex;
    padding: 0;
    
    list-style-type: none;
}

nav ul li {/*ułożenie elementów poziomo*/
    float: left;
}

nav ul li a{ /*Ustawienie odpowiedniego wyglądu dla odnośników:*/
    display: inline-block;
    color: #502c48;
    padding: 1rem 2rem;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #27551b;
    color: #ecf0f1;
}

nav ul li a.active { /*aktywna zakładka na stronie */
    background-color: #156197;
    color: #ecf0f1;
}

main {
    padding: 1.5rem;
}

footer {
    text-align: center;
}

main h2 {
    border-bottom: 1px solid #7f8c8d;
    margin-bottom: 2rem;
}

.table-list {
    border-collapse: collapse;
    color: #2c3e50;
    width: 100%;
}

.table-list,
.table-list th,
.table-list td {
    border: 1px solid #bdc7bd;
}

.table-list th,
.table-list td {
    padding: 0.5rem;
}

.table-list th,
.table-list tbody tr:nth-child(even) {
    background-color: #ccd4da;
    
}

.list-actions {
    margin:0;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.list-actions li {
    display: inline-block;
}


.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    width: 75px;
    padding: 0.25rem 0.5rem;

}

.list-actions-button-details,/*przyciski akcji*/
.list-actions-button-edit,
.list-actions-button-delete
 {
    border: none;
    border-radius: 5px;
    
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;

}

.list-actions-button-details,
.list-actions-button-edit {
    margin-right: 1rem;
}

.list-actions-button-details {
    background-color: #6d4f85;
}
.list-actions-button-details:hover {
    background-color: #27551b;
}

.list-actions-button-edit {
    background-color: #8fe911;
}

.list-actions-button-edit:hover {
    background-color: #27551b;
}

.list-actions-button-delete {
    background-color: #e80b0b;
}

.list-actions-button-delete:hover {
    background-color: #e74c3c;
}


.list-actions-button-details, /*przyciski dodwanie nowego rekordu*/
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel{
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}


.button-add,
.form-button-submit,
.form-button-cancel 
 {
    padding: 0.5rem 1rem;
}

.button-add,
.form-button-submit {
    background-color: #156197;
}

.button-add:hover,
.form-button-submit:hover {
    background-color: #27551b;
}

.form-button-cancel,
.list-actions-button-delete {
    background-color: #c34739;
}

.form-button-cancel:hover,
.list-actions-button-delete:hover {
    background-color: #27551b;
}

.form-button-submit,
.form-button-cancel {
    width: 100%;
}

.form-button-cancel {
    box-sizing: border-box;
    display: block;
}

.form-button-submit {
    box-sizing: border-box;
    display: block;
    margin-bottom: 0.5rem;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0; margin: 0;
}

textarea {
    overflow: auto;
}

.form {
    margin-left: 2rem;;
    width: 800px
}

.form select,
.form input[type="text"],
.form input[type="date"],
.form input[type="time"],
.form input[type="password"],
.form input[type="number"] {
    border: 1px solid #5b7f82;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

.form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5em;
}

.symbol-required {
    color: #b61673
}

.form-buttons { /*przyciscki*/
    margin-top: 2rem;
}

.form input.error-input,
.form select.error-input {
    border: 3px solid #e15c4d;
    diplay: block;
}



.errors-text {
    display: block;
    font-size: 1em;
    line-height: 1.25rem;
    margin-top: 0.1em;
    color: #e74c3c
}

.deletedBox {

    display: none;

    width: 250px;

    height: 150px;

    background-color: rgb(233, 110, 147);

    position: absolute;

    bottom: 10px; right: 43px;

}

.komunikat {

    display: flex;

    justify-content: center;

    text-align: center;

    align-items: center;

}

.deletedBox:target {
    display: block;
}

.form3 {
    margin-left: 2rem;;
    width: 600px
}

.form3 label {
    display: inline;
    margin-top: 2rem;
    margin-bottom: 1.5em;
}

.form3 p {
    font-weight: bold;
}

.peselRequired,
.ImieRequired,
.surnameRequired,
.responseRequired,
.permissionCodeRequired {
    display: none;
}

.myDateRequired,
.startTimeRequired {
display: none;
}


.contentsRequired,
.response1Required,
.response2Required,
.response3Required,
.correctAnswerRequired,
.itemRequired {
    display: none;
} 

.Errors {
color: red;
}

#pesel:invalid + .peselRequired,
#name:invalid + .ImieRequired,
#surname:invalid + .surnameRequired,
#response:invalid +.responseRequired,
#permissionCode:invalid + .permissionCodeRequired {
    display: block;
}

#myDate:invalid + .myDateRequired,
#startTime:invalid + .startTimeRequired {
display: block;
}

#contents:invalid + .contentsRequired,
#response1:invalid + .response1Required,
#response2:invalid + .response2Required, 
#response3:invalid + .response3Required,
#correctAnswer:invalid + .correctAnswerRequired, 
#item:invalid + .itemRequired {
    display: block;
}

.allErrors {
display: block;

}

.myForm:invalid > .allErrors {
display: block;
}

.myForm {
    margin-left: 2rem;;
    width: 800px
}

.myFormselect,
.myForm input[type="text"],
.myForm input[type="date"],
.myForm input[type="time"],
.form input[type="password"],
.myForm input[type="number"] {
    border: 1px solid #7f8c8d;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

.myForm label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5em;
}

.symbol-required {
    color: #b61673
}

.form-buttons { /*przyciscki*/
    margin-top: 2rem;
}

.form input.error-input,
.form select.error-input {
    border: 3px solid #e74c3c;
    display: block;
}




.doprawej {

    display:none;

    flex-direction: row;

    justify-content: center;

    align-items: center"

}

