 <%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Usunięcie osoby</h2>
            Osoba została usunięta
            <br><br>
            
            <a href="/Osoba" class="form-button-cancel">Powrót</a>
        </main>
 <%- include('../../fragments/footer.ejs') %>