 <%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Edycja wcześniej dodanej osoby</h2>
            Osoba została edytowana
            
            <br><br>
            <a href="./" class="form-button-cancel">Powrót</a>
        </main>
 <%- include('../../fragments/footer.ejs') %>









