<%- include('../../fragments/header.ejs') %>
       
        <main>
            <h2>Edycja udzielonych wcześniej odpowiedzi</h2>
            Odpowiedzi zostały edytowane
            
            <br><br>
            <a href="./" class="form-button-cancel">Powrót</a>
        </main>
<%- include('../../fragments/footer.ejs') %>









