<%- include('../../fragments/header.ejs') %>
        <main>
            <label for="subjects">Wybierz przedmiot:</label>

            <select name="subjects" id="subjects">
              <option value="s1">Nawigacja</option>
              <option value="s2">Prawo</option>
              <option value="s3">Człowiek</option>
            </select>

             <a href="/Pytanie_egzamin/egzamin" class="form-button-submit">Rozpocznij egzamin</a>
        </main>
<%- include('../../fragments/footer.ejs') %>