<%- include('./fragments/header.ejs') %>
<main>
<h2>Strona główna</h2>
<p>System do egzaminowania potencjalnych kandydatów pilotów lub członków załogi lotniczej. System sprawdza umiejętności nabyte podczas nauki wiedzy teoretycznej, a zaliczenie egzaminów jest warunkiem koniecznym do uzyskania licencji.</p>
</main>
<%- include('./fragments/footer.ejs') %>