<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Potwierdzenie usunięcia</h2>
            Czy usunąć egzamin ?

            <form>
                <div class="form-buttons">

                    <p id="errorSummary"></p>

                    <a href="deleted" class="form-button-cancel">Usuń</a>
                    <a href="/egzamin" class="form-button-submit">Anuluj</a>

                </div>
            </form>
        </main>
 <%- include('../../fragments/footer.ejs') %>