<%- include('../../fragments/header.ejs') %>
        
        <main>
            <h2>Egzamin zakończony</h2>
            Egzamin został zakończony, Twoje odpowiedzi zostały zapisane.
            <br><br>
            
            <a href="/../Pytanie_egzamin" class="form-button-cancel">Powrót</a>
        </main>
<%- include('../../fragments/footer.ejs') %>








