<%- include('../../fragments/header.ejs') %>
       
        <main>
            <h2>Potwierdzenie usunięcia odpowiedzi</h2>
            Czy usunąć odpowiedz ?

            <form>
                <div class="form-buttons">

                    <p id="errorSummary"></p>

                    <a href="deleted" class="form-button-cancel">Usuń</a>
                    <a href="/Pytanie_egzamin" class="form-button-submit">Anuluj</a>

                </div>
            </form>
        </main>
<%- include('../../fragments/footer.ejs') %>