<%- include('../../fragments/header.ejs') %>
        <main>
            <form class="form" action="submit" novalidate>


                <a href="/Pytanie_egzamin/egzamin/Nawigacja" class="form-button-submit">Rozpocznij egzamin (Nawigacja)</a>
                <a href="/Pytanie_egzamin/egzamin/Człowiek" class="form-button-submit">Rozpocznij egzamin (Człowiek)</a>
                <a href="/Pytanie_egzamin/egzamin/Prawo" class="form-button-submit">Rozpocznij egzamin (Prawo)</a>
            </form>

        </main>
<%- include('../../fragments/footer.ejs') %>